{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}

<section id="form" class="about">

    <!-- /.container -->



<img class="img-portfolio img-responsive" src="img/amplifier_logo.png" width="450px">

   <fieldset class="col-centered col-sm-6">
  <legend class="text-center">Please enter the following informations :</legend>
  <form role="form" action="{{url_for('website_amplifier.form')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">
            <label class="center-block text-center" for="sel0">Brand name</label>
            <input type="text" class="center-block text-center" name="name" id="name" placeholder="Name" />
            <label class="center-block text-center" for="sel1">Website</label>
            <input type="text" class="center-block text-center" name="website" id="website" placeholder="Website" />
        </span>
        <span>
            

            <div>&nbsp;</div>
            <div>
                <label class="center-block text-center" for="sel2"><i class="glyphicon glyphicon-pushpin"></i> Select a product category</label>
            </div>
            <div class="center-block text-center">
            <select class="form-control text-center col-lg-6" data-width="fit"  id="sel2" name="filter">
                <option class="form-control text-center" value="">Please select a category</option>
                <option class="form-control text-center" value="car">Car manufacturer</option>
                <option class="form-control text-center" value="travel">Travel</option>
                <option class="form-control text-center" value="retail">Retail brand</option>
            </select>

            <div>&nbsp;</div>
            <div>
                <label class="center-block text-center" for="sel3"><i class="glyphicon glyphicon-pushpin"></i> Select a background music</label>
            </div>
            <select class="custom-select custom-select-sm" data-width="fit"  id="music" name="music">
              <option selected>Please select a music</option>
              <option value="Calm">Calm</option>
              <option value="ModernFashion">Trendy</option>
              <option value="SummerDance">Dynamic</option>
              <option value="Epic">Epic</option>
            </select>


            <div>&nbsp;</div>
            <div class="row col-centered"> 
            <select class="form-control text-center col-lg-6" data-width="fit"  id="selectMe" name="selectMe">
                <option class="form-control text-center" value="">Please select a category</option>
                <option class="form-control text-center" value="">Free form</option>
                <option class="form-control text-center" value="{{ template[0] }}">Template 1 : Get on our website</option>
                <option class="form-control text-center" value="{{ template[1] }}">Template 2 : Choose the best</option>
            </select>
              <label class="center-block text-center" for="ad_text"> <i class="glyphicon glyphicon-pushpin"></i>Ad text</label>
              <textarea class="form-control" rows="2" id="ad_text" name="ad_text"></textarea>

              <input type="submit" method="post" class="center-block btn btn-primary" id="adparams" value="Generate"></button>
            </div>



      </span>
    </form>
  </fieldset>
  


</section>



{% endblock %}