{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}

<section id="form" class="about">

    <!-- /.container -->



<img class="img-portfolio img-responsive" src="img/amplifier_logo.png" width="450px">

   <fieldset class="col-centered col-sm-6">
  <legend class="text-center">Please enter the following informations :</legend>
  <form role="form" action="{{url_for('website_amplifier.form')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">
            <label class="center-block text-center" for="sel0">Brand name</label>
            <input type="text" class="center-block text-center" name="name" id="name" placeholder="Name" value="{{ name }}" />
            <label class="center-block text-center" for="sel1">Website</label>
            <input type="text" class="center-block text-center" name="website" id="website" placeholder="Website" value="{{ website }}"/>
            <label class="center-block text-center" for="sel0">Product type</label>
            <input type="text" class="center-block text-center" name="subcategory" id="subcategory" placeholder="Product type"  value="{{ product }}"/>
        </span>
        <span>
            

            <div class="center-block text-center">

            <div>&nbsp;</div>
            <div>
                <label class="center-block text-center" for="sel3"><i class="glyphicon glyphicon-pushpin"></i> Select a background music</label>
            </div>
            <select class="custom-select custom-select-sm" data-width="fit"  id="music" name="music">
              <option selected>Please select a music</option>
              <option value="Calm.wav">Calm</option>
              <option value="ModernFashion.wav">Trendy</option>
              <option value="SummerDance.wav">Dynamic</option>
              <option value="Stuff.mp3">Stuff</option>
              <option value="wurth_song.mp3">wurth_song</option>
            </select>


            <div>&nbsp;</div>
            <div class="row col-centered"> 
            <select class="form-control text-center col-lg-6" data-width="fit"  id="selectMe" name="selectMe">
                <option class="form-control text-center" value="">Please select a category</option>
                {% for t in template %}
                  <option class="form-control text-center" value="{{ t[3] }}">{{ t[0] }}</option>
                {% endfor %}
            </select>
                {% for t in template %}
                  <input type="hidden" id="subcategory_{{ t[3] }}" name="subcategory" value="{{ t[2] }}">
                <input type="hidden" id="template_value_{{ t[3] }}" name="template_value" value="{{ t[1] }}">
                {% endfor %}
              <label class="center-block text-center" for="ad_text"> <i class="glyphicon glyphicon-pushpin"></i>Ad text</label>
              <textarea class="form-control" rows="2" id="ad_text_field" name="ad_text_field"></textarea>

              <input type="submit" method="post" class="center-block btn btn-primary" id="adparams" value="Generate"></button>
            </div>



      </span>
    </form>
  </fieldset>
  


</section>



{% endblock %}