    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <img class="img-portfolio img-responsive" src="img/amplifier_logo.png" width="300px">
            <h3>Easily build and deploy your audio ads</h3>
            <br>

            {% block button %}
                    <a href="/form" class="btn btn-dark btn-lg">Build your ad</a>
                    <a href="/gallery" class="btn btn-dark btn-lg">Audio ad gallerie</a>
            {% endblock %}
        </div>
    </header>