{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}


    {% if view_option %}

    <section id="content" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Panneau de controle admin </h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

   <fieldset class="col-centered col-sm-6">
  <legend class="center-block text-center">Selectionner une action et une cible:</legend>
  <form role="form" action="{{url_for('website_industrie_futur.retrieve_admin_info')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">

            <label class="center-block text-center" for="sel1">Select action:</label>
            <select class="form-control" id="sel1" name="action" onchange="previewChoices()">
                {% for action in available_actions %}
                <option class="form-control" value="{{action}}">{{action}}</option>
                {% endfor %}
            </select>
            <br>
            <label class="center-block text-center" for="sel2">Select choice:</label>
            <select class="form-control" id="sel2" name="choice" >
                {% for choice in available_choices[available_actions[0]] %}
                <option class="form-control" value="{{choice}}">{{choice}}</option>
                {% endfor %}
            </select>

            <div class="row center-block col-lg-12">
              <input type="submit" class="center-block btn btn-primary"></button>
            </div>

        </span>
  </form>
  </fieldset>

    {% endif %}

    {% if see_result %}

    <section id="content" class="about">

    <!-- Container (Portfolio Section) -->
    <div id="join_team" class="container-fluid center-block text-center bg-grey">
        <p> Total inscrits : {{ num_results }} </p>
        <p> List établissement : {{ schools }} </p>
      <h4></h4><br>
      {% for result in available_results %}
          <div class="col-lg-12 text-center center-block">
              <div>

                <p>
                <h4>Email :</h4>
                {{ result['email'][0] }}
                </p>
                <p>
                <h4>Nom :</h4>
                {{ result['name'][0] }}
                </p>
                <p>
                <h4>Prénom :</h4>
                {{ result['lastname'][0] }}
                </p>
                <p>
                <h4>Anniversaire :</h4>
                {{ result['age'][0] }}
                </p>
                <p>
                <h4>Section :</h4>
                {{ result['filter'][0] }}
                </p>
                <p>
                <h4>Etablissement :</h4>
                {{ result['school'] }}
                </p>
                <p>
                <h4>Interets :</h4>
                {{ result['interets'][0] }}
                </p>
                <p>
                <h4>Commentaire :</h4>
                {{ result['comment'][0] }}
                </p>
                <h4>Thème préféré :</h4>
                {{ result['favtheme'][0] }}
                </p>

            </div>
          </div>

        <div class="col-sm-12 col-centered">
            <img class="img-portfolio img-responsive" src="img/pagination.png" width="5%">
        </div>
      {% endfor %}
      </div><br>
    </section>

    {% endif %}


{% endblock %}