{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>L'Alliance Industrie du Futur</h1>
        </div>
    </aside>

    <section class="success" id="about">
        <div class="container col-centered">

            <div class="col-centered col-lg-12 text-center">
                <h2>Quel est le role de l'Alliance ?</h2>
                <hr class="star-light">
            </div>

            <div class="col-centered col-lg-6">
                 <p>L’Alliance Industrie du Futur, association loi 1901, rassemble et met en mouvement les compétences et les énergies d’organisations professionnelles, d’acteurs scientifiques et académiques, d’entreprises et de collectivités territoriales, notamment les Régions, pour assurer, en particulier, le déploiement du plan Industrie du Futur.
                 </p>
                 <p>Elle organise et coordonne, au niveau national, les initiatives, projets et travaux tendant à la modernisation et à la transformation de l’industrie en France, notamment par l’apport du numérique. Elle s’appuie pour cela sur des groupes de travail dédiés. Son action est relayée en régions par des plateformes régionales, s’appuyant sur les réseaux des membres de l’Alliance, les collectivités pour accompagner les PME/ETI au plus près du terrain.
                 </p>
            </div>

            <div class="col-centered col-lg-6">
                <p>Une fiche d'aide est disponible pour connaitre tous les détails de cet outil</p>
                <p>Les formalités du challenge seront aussi détaillées dans ce document.</p>
            </div>


                <div class="col-lg-12 center-block text-center">
                    <a href="http://docs.wixstatic.com/ugd/7f22a7_4bfd1b74265945e59592a33624fba6ae.pdf" download class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Télécharger la plaquette
                    </a>
                </div>

                <div class="col-lg-12 center-block text-center">
                    <a href="http://allianceindustrie.wixsite.com/industrie-dufutur" class="btn btn-lg btn-outline">
                        <i class="glyphicon glyphicon-heart-empty"></i> Visiter leur site
                    </a>
                </div>

        </div>
    </section>



{% endblock %}