{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>Le challenge</h1>
        </div>
    </aside>

    <section class="success" id="about">
        <div class="container">

            <div class="center-block col-lg-12 text-center">
                <h2>Pourquoi un challenge ?</h2>
                <hr class="star-light">
            </div>

            <div class="center-block col-lg-6 ">
                <p>La forme d'un challenge permet à tous les participants de travailler sur une question précise touchant à l'industrie du futur. Les participants sont invités à construire des porpositions faisables et réalistes.</p>
                <p>Les thèmes seront proposés avec des supports pour apporter les informations essentielles propres aux sujets.</p>
            </div>

            <div class="center-block col-lg-6">
                <p>Les challenge se tiendra sur la plateforme de chat Slack. Celle ci offre de nombreuses possibilités d'organisation pour les différents participants. Un document est disponible pour expliquer comment l'utiliser</p>
                <p>Les modérateur du challenge contacteront les participants au travers de Slack pour les questions et les rendus.</p>
            </div>

                <div class="col-lg-12 center-block text-center">
                    <a href="/img/futur.jpg" download class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Télécharger l'example de thème
                    </a>
                </div>
                <div class="col-lg-12 center-block text-center">
                    <a href="/img/futur.jpg" download class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Télécharger le FAQ Slack
                    </a>
                </div>
                <div class="col-lg-12 center-block text-center">
                    <a href="/fillform" class="btn btn-dark">
                        <i class="fa"></i> S'inscrire
                    </a>
                </div>

        </div>
    </section>



{% endblock %}