{% extends "base.html" %}

{% block header %} {% include 'header_team.html' %} {% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}

    {% if create_team %}

        <section id="form" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>
                      Formulaire de création d'équipe </h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  <label class="center-block col-lg-6 text-center">Merci de remplir:</label>
  <form role="form" action="{{url_for('website_industrie_futur.create_team')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">

            <div class="row">
            <input class="center-block col-lg-6 text-center" type="text" class="form-control" name="name" id="name" placeholder="Nom de l'équipe" />
            </div>

            <div class="row">
            <input class="center-block col-lg-6 text-center" type="text" class="form-control" name="image_url" id="image_url" placeholder="lien vers une image" />
            </div>


            <div class="row center-block col-lg-6 ">
              <label class="center-block col-lg-6 text-center" for="description">Description de l'équipe</label>
              <textarea class="form-control" rows="2" id="description" name="description"></textarea>
            </div>

      <div class="row">
      <div class="col-lg-12 text-center">
      </div>

      <div class="row">
        <input type="submit" class="center-block col-lg-2 btn btn-primary"></button>
      </div>


        </span>
  </form>

    {% endif %}

    {% if join_team %}

    <!-- Container (Portfolio Section) -->
    <div id="join_team" class="container-fluid text-center bg-grey">
      <h2></h2><br>
      <h4>Rejoins une équipe</h4>
      {% for team in available_teams %}
          <div class="col-lg-4 text-center slideanim">
              <div class="thumbnail">
                <img src="team.image_url" alt="team_logo" width="400" height="300">
                <p><strong>{{ team.name }}</strong> de {{ team.creator }}</p>
                <p>{{ team.description }}</p>
                <p>Membres :
                {% for member in team.members %}
                    {{ member }}
                {% endfor %}
                </p>

                <form action="" method="post">
                <button name="team" class="btn btn-info" value="{{ team.name }}" role="button">
                Rejoindre</a>
                </form>

            </div>
          </div>
      {% endfor %}
      </div><br>

    {% endif %}


{% endblock %}