{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

   <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 center-block text-center">
                    <h2>FAQ</h2>
                    <hr class="small">
                    <div class="row center-block ">
                        <div class="col-md-6 center-block ">
                            <div class="portfolio-item">
                                <p> Q : Comment peux on accéder à la plateforme de challenge ?</p>
                                <p> R : Il suffit de se connecter sur Slack</p>
                            </div>
                        </div>
                        <div class="col-md-6 center-block ">
                            <div class="portfolio-item">
                                <p> Q : Comment peux on accéder à la plateforme de challenge ?</p>
                                <p> R : Il suffit de se connecter sur Slack</p>
                            </div>
                        </div>
                    </div>
                    <div class="row center-block ">
                        <div class="col-md-6 center-block ">
                            <div class="portfolio-item">
                                <p> Q : Comment peux on accéder à la plateforme de challenge ?</p>
                                <p> R : Il suffit de se connecter sur Slack</p>
                            </div>
                        </div>
                        <div class="col-md-6 center-block ">
                            <div class="portfolio-item">
                                <p> Q : Comment peux on accéder à la plateforme de challenge ?</p>
                                <p> R : Il suffit de se connecter sur Slack</p>
                            </div>
                        </div>
                    </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


{% endblock %}