{% extends "base.html" %}

{% block header %}
{% if success %}
{% include 'header_team.html' %}
{% else %}
{% include 'header_form.html' %}
{% endif %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}

<section id="form" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                  Formulaire d'inscription </h2>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->



   <fieldset class="col-centered col-sm-6">
  <legend class="text-center">Merci de remplir:</legend>
  <form role="form" action="{{url_for('website_industrie_futur.fill_form')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">

            <div class="text-center">
            <input class="center-block text-center" type="text" class="form-control" name="name" id="name" placeholder="Prénom" />

            <input class="center-block text-center" type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" />

            <input type="text" class="center-block text-center" name="email" id="email" placeholder="Email" />

            <input type="password" class="center-block text-center" name="password" id="password" placeholder="password" />

            <input type="text" class="center-block text-center" name="birthday" id="birthday" placeholder="Date de naissance" />
            </div>

            <div>
            <label class="center-block text-center" for="sel1">Merci de sélectionner:</label>
            </div>

            <div class="center-block text-center">
            <select class="form-control text-center col-lg-6" data-width="fit"  id="sel1" name="filter">
                <option class="form-control text-center" value="lyceen">Lycéen</option>
                <option class="form-control text-center" value="etu_uni">Etudiant université/grande école</option>
                <option class="form-control text-center" value="etu_bts">Etudiant BTS/IUT</option>
                <option class="form-control text-center" value="diplomé">Diplomé</option>
            </select>
            </div>

            <div class="row col-centered">
              <label class="center-block text-center" for="comment">Qu'est ce qui t'a motivé à t'inscrire:</label>
              <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>

              <label class="center-block text-center" for="interets">Des passions?</label>
              <textarea class="form-control" rows="2" id="interets" name="interets"></textarea>

              <input type="submit" method="post" class="center-block btn btn-primary"></button>
            </div>



      </span>
    </form>
  </fieldset>


</section>



{% endblock %}