{% extends "base.html" %}

{% block header %}
{% if success %}
{% include 'header_team.html' %}
{% else %}
{% include 'header_form.html' %}
{% endif %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}

<section id="form" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                  Formulaire d'inscription </h2>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

  <img class="img-portfolio img-responsive" src="img/fillform.png" width="150px">

   <fieldset class="col-centered col-sm-6">
  <legend class="text-center">Merci de remplir:</legend>
  <form role="form" action="{{url_for('website_industrie_futur.fill_form')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">

            <div class="text-center">
            <label class="center-block text-center" for="sel1"><i class="glyphicon glyphicon-sunglasses"></i> A propos de toi:</label>
            <input class="center-block text-center" type="text" class="form-control" name="name" id="name" placeholder="Prénom" />

            <input class="center-block text-center" type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" />

            <input type="text" class="center-block text-center" name="email" id="email" placeholder="Email" />

            <input type="password" class="center-block text-center" name="password" id="password" placeholder="Mot de passe" />

            <input type="text" class="center-block text-center" name="age" id="age" placeholder="Ton age" />
            </div>
            <br>

            <div>
            <label class="center-block text-center" for="sel1"><i class="glyphicon glyphicon-pushpin"></i> Que fais tu dans la vie ?</label>
            </div>

            <div class="center-block text-center">
            <select class="form-control text-center col-lg-6" data-width="fit"  id="sel1" name="filter">
                <option class="form-control text-center" value="lyceen">Lycéen</option>
                <option class="form-control text-center" value="etu_uni">Etudiant université/grande école</option>
                <option class="form-control text-center" value="etu_bts">Etudiant BTS/IUT</option>
                <option class="form-control text-center" value="diplomé">Diplomé</option>
            </select>

            <label class="center-block text-center" for="sel1">Nom de ton établiseement:</label>
            <input type="text" class="center-block text-center" name="school" id="school" placeholder="Etablissement" />
            </div>


              <div class="center-block text-center">
            <label class="center-block text-center" for="sel1"><i class="glyphicon glyphicon-blackboard"></i> Choisis ton thème favori !</label>
            <select class="form-control text-center col-lg-6" data-width="fit"  id="favtheme" name="favtheme">
                <option class="form-control text-center" value="t0">Pas de préférence</option>
                <option class="form-control text-center" value="t1">T1 : Organisation et Management dans l’industrie du futur</option>
                <option class="form-control text-center" value="t2">T2 : Comment garantir l’employabilité des professionnels?</option>
                <option class="form-control text-center" value="t3">T3 : Des structures et moyens pour accompagner?</option>
            </select>
            <br>

            <label class="center-block text-center" for="sel2"><i class="glyphicon glyphicon-blackboard"></i> Et ton second choix !</label>
            <select class="form-control text-center col-lg-6" data-width="fit"  id="favtheme" name="favtheme">
                <option class="form-control text-center" value="t0">Pas de préférence</option>
                <option class="form-control text-center" value="t1">T1 : Organisation et Management dans l’industrie du futur</option>
                <option class="form-control text-center" value="t2">T2 : Comment garantir l’employabilité des professionnels?</option>
                <option class="form-control text-center" value="t3">T3 : Des structures et moyens pour accompagner?</option>
            </select>
            <br>

            <div class="row col-centered">
              <label class="center-block text-center" for="comment"><i class="glyphicon glyphicon-heart"></i>Qu'est ce qui t'a motivé à t'inscrire:</label>
              <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>

              <label class="center-block text-center" for="interets"> <i class="glyphicon glyphicon-bishop"></i>Des passions?</label>
              <textarea class="form-control" rows="2" id="interets" name="interets"></textarea>

              <input type="submit" method="post" class="center-block btn btn-primary"></button>
            </div>



      </span>
    </form>
  </fieldset>


</section>



{% endblock %}