    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Challenge Industrie du futur</h1>
            <h3>Nos sujets, vos défis</h3>
            <br>

            {% block button %}
                    <a href="#presentation" class="btn btn-dark btn-lg">Présentation</a>
                    <a href="#challenge" class="btn btn-dark btn-lg">Le challenge</a>
                    <a href="#contact" class="btn btn-dark btn-lg">Rejoins nous</a>
            {% endblock %}
        </div>
    </header>