{% extends "base.html" %}

{% block header %}
{% if success %}
{% include 'header_team.html' %}
{% else %}
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Alliance Industrie du Futur</h1>
            <h3></h3>
            <br>
        </div>
    </header>
{% endif %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}


    <section id="form" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>
                      Acces a la gestion des equipes
                    </h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


  <form role="form" action="{{url_for('website_industrie_futur.login')}}" method="post" enctype="multipart/form-data">
        <span class="form-group center-block ">

            <div class="row center-block text-center">
            <label class="text-center">Log In:</label>
            </div>

            <div class="row center-block">
            <input class="center-block text-center" type="text" class="form-control" name="email" id="email" placeholder="Email" />
            </div>

            <div class="row">
            <input class="center-block text-center" type="password" class="form-control" name="password" id="password" placeholder="Password" />
            </div>

            <div class="row">
              <input type="submit" class="center-block btn btn-primary"></button>
            </div>

        </span>
  </form>

{% endblock %}