{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>Send a message to all users</h1>
        </div>
    </aside>

   <fieldset class="col-centered col-sm-6">
  <legend class="text-center">Message</legend>
  <form role="form" action="{{url_for('website_industrie_futur.fill_form')}}" method="post" enctype="multipart/form-data">
        <span class="form-group">

            <div class="text-center">
                <textarea class="form-control" rows="2" id="message" name="message"></textarea>
            </div>

        </span>
  </form>


    {% if success %}
    <section class="success" id="success">

        <div class="container">
            {% for email in success %}
                <p> {{ email }} </p>
            {% endfor %}
        </div>
    </section>
    {% endif %}



{% endblock %}