    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">

            </li>
            <li>
                <a href="/home" onclick=$("#menu-close").click();>Accueil</a>
            </li>
            <li>
                <a href="/challenge" onclick=$("#menu-close").click();>Le Challenge</a>
            </li>
            <li>
                <a href="/fillform" onclick=$("#menu-close").click();>Inscris toi!</a>
            </li>
            <li>
                <a href="/login" onclick=$("#menu-close").click();>Accès aux equipes</a>
            </li>
            <li>
                <a href="/orga" onclick=$("#menu-close").click();>A propos de nous</a>
            </li>
        </ul>
    </nav>