{% extends "base.html" %}

{% block header %} {% include 'header_us.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>L’équipe organisatrice </h1>
        </div>
    </aside>

    <section class="success" id="team">
    <div class="col-md-9 col-centered">
        <div class="row">

            <div class="col-md-3 text-center">
                <p><h4>Notre mission</h4></p>
                <img class="img-portfolio" src="img/sperhero.png" width="30%"><br>
                Créer le futur de l'industrie grâce à l'avis des jeunes
            </div>

            <div class="col-md-6">
                <div class="row text-center">
                <p><h4>Qui sommes-nous ?</h4></p>
                </div>
                <div class="row">
                    <p>Organisé par un groupe d’étudiant(e)s de diverses écoles d’ingénieurs mais aussi venu(e)s d’écoles de commerce, le Challenge Industrie du Futur a pour but de recenser l’avis des jeunes quant à l’industrie de demain en France.</p>

                    <p>
                    Tous ces étudiants ont un point commun : la volonté d’apporter leur pierre à l’édifice et faire ainsi de la France une référence de l’industrie du futur dans le monde.
                    </p>

                    <p>
                    Le Challenge Industrie du Futur a été créé à l’initiative de l’Alliance Industrie du Futur.
                    </p>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <p><h4>Nos valeurs</h4></p>
                    <i class="glyphicon glyphicon-signal"></i> Innovation<br>
                    <i class="glyphicon glyphicon-sunglasses"></i>Entrepreneuriat<br>
                    <i class="glyphicon glyphicon-globe"></i>Diversité<br>
                    <i class="glyphicon glyphicon-fullscreen"></i>Pragmatisme<br>
                    <i class="glyphicon glyphicon-king"></i>Excellence<br>
            </div>
        </div>
    </div>

    <br>

    <div class="col-md-9 col-centered text-center">
    <p><h4>L'équipe</h4></p>
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-portfolio img-responsive" src="img/Mel.png" width="300px">
                Melissa Perez<br>Ambassadrice des Jeunes et Coordinatrice du Challenge
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Raf.png" width="300px">
                Raphaëlla Teboul<br>Responsable Organisation Interne
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Lou.png" width="300px">
                Louis Brillot<br>Responsable Communication
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Adr.png" width="300px">
                Adrien Morvan<br>Responsable Plateforme Numérique
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Aud.png" width="300px">
                Audrey Awade<br>Responsable Powerpoint et Recherches Bibliographiques
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/uuu.png" width="300px">
                Timothée Tran<br>Responsable Relation Etudiants et Jeunes Diplomés
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Edo.png" width="300px">
                Edouard de Braquilanges<br>Modalités du challenge
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/bern.png" width="300px">
                Bernoli Kapangala<br>Relation Etudiants et Jeunes Diplômés
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/vinc.png" width="300px">
                Vincent Kesby<br>Powerpoint et Recherches Bibliographiques
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/rafik.png" width="300px">
                Rafik Ouahid<br>Powerpoint et Recherches Bibliographiques
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/xing.png" width="300px">
                Etienne Xing Liu<br>Powerpoint et Recherches Bibliographiques
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/babu.png" width="300px">
                Baburaj Ramassamy<br>Powerpoint et Recherches Bibliographiques

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/ayoub.png" width="300px">
                Ayoub Bouaoud<br>Communication
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
        </div>

        <br>

    </div>

    </section>

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="alliance">
            <h1>L'Alliance Industrie du Futur</h1>
        </div>
    </aside>

    <section class="success" id="about">
        <div class="container col-centered">

            <div class="col-centered col-lg-12 text-center">
                <h2>Quel est le role de l'Alliance ?</h2>
                <hr class="star-light">
            </div>

            <img class="img-portfolio img-responsive" src="img/alliance.png" width="300px"><br>

            <div class="col-centered col-lg-6">
                 <p>L’Alliance Industrie du Futur, association loi 1901, rassemble et met en mouvement les compétences et les énergies d’organisations professionnelles, d’acteurs scientifiques et académiques, d’entreprises et de collectivités territoriales, notamment les Régions, pour assurer, en particulier, le déploiement du plan Industrie du Futur.
                 </p>
                 <p>Elle organise et coordonne, au niveau national, les initiatives, projets et travaux tendant à la modernisation et à la transformation de l’industrie en France, notamment par l’apport du numérique. Elle s’appuie pour cela sur des groupes de travail dédiés. Son action est relayée en régions par des plateformes régionales, s’appuyant sur les réseaux des membres de l’Alliance, les collectivités pour accompagner les PME/ETI au plus près du terrain.
                 </p>
            </div>

            <div class="col-centered col-lg-6">
                <p>Une fiche d'aide est disponible pour connaitre tous les détails de cet outil</p>
                <p>Les formalités du challenge seront aussi détaillées dans ce document.</p>
            </div>


                <div class="col-lg-12 center-block text-center">
                    <a href="http://docs.wixstatic.com/ugd/7f22a7_4bfd1b74265945e59592a33624fba6ae.pdf" download class="btn btn-lg btn-outline" style="color:#f53737">
                        <i class="fa fa-download" style="color:#f53737"></i> Télécharger la plaquette
                    </a>
                </div>

                <div class="col-lg-12 center-block text-center">
                    <a href="http://allianceindustrie.wixsite.com/industrie-dufutur" class="btn btn-lg btn-outline" style="color:#f53737">
                        <i class="glyphicon glyphicon-heart-empty" style="color:#f53737"></i> Visiter le site de l'Alliance Industrie du Futur
                    </a>
                </div>

                <div class="col-lg-12 center-block text-center">
                    <a href="https://www.agora-industrie.fr/" class="btn btn-lg btn-outline" style="color:#f53737">
                        <i class="glyphicon glyphicon-bullhorn" style="color:#f53737"></i> Découvrir le forum Agora Industrie
                    </a>
                </div>

        </div>
    </section>


{% endblock %}