{% extends "base.html" %}

{% block header %} {% include 'header_us.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>L’équipe organisatrice </h1>
        </div>
    </aside>

    <section class="success" id="about">
    <div class="col-md-9 col-centered">
        <div class="row">

            <div class="col-md-3 text-center">
                <p><h4>Notre mission</h4></p>
                <img class="img-portfolio" src="img/sperhero.png" width="30%"><br>
                Créer le futur de l'industrie grâce à l'avis des jeunes
            </div>

            <div class="col-md-6">
                <div class="row text-center">
                <p><h4>Qui sommes-nous ?</h4></p>
                </div>
                <div class="row">
                    <p>Organisé par un groupe d’étudiant(e)s de diverses écoles d’ingénieurs mais aussi venu(e)s d’écoles de commerce, le Challenge Industrie du Futur a pour but de recenser l’avis des jeunes quant à l’industrie de demain en France.</p>

                    <p>
                    Tous ces étudiants ont un point commun : la volonté d’apporter leur pierre à l’édifice et faire ainsi de la France une référence de l’industrie du futur dans le monde.
                    </p>

                    <p>
                    Le Challenge Industrie du Futur a été créé à l’initiative de l’Alliance Industrie du Futur.
                    </p>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <p><h4>Nos valeurs</h4></p>
                    <i class="glyphicon glyphicon-signal"></i> Innovation<br>
                    <i class="glyphicon glyphicon-sunglasses"></i>Entrepreneuriat<br>
                    <i class="glyphicon glyphicon-globe"></i>Diversité<br>
                    <i class="glyphicon glyphicon-fullscreen"></i>Pragmatisme<br>
                    <i class="glyphicon glyphicon-ice-lolly-tasted"></i>Excellence<br>
            </div>
        </div>
    </div>

    <br>

    <div class="col-md-9 col-centered text-center">
    <p><h4>L'équipe</h4></p>
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-portfolio img-responsive" src="img/Mel.png" width="300px">
                Mélissa Perez
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Raf.png" width="300px">
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Lou.png" width="300px">
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Adr.png" width="300px">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Edo.png" width="300px">
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/Aud.png" width="300px">
            </div>
            <div class="col-md-3">
                <img class="img-portfolio img-responsive" src="img/uuu.png" width="300px">
            </div>
            <div class="col-md-3">
            <br>
            </div>
        </div>

        <br>

    </div>

    </section>



{% endblock %}