{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    <div class="col-sm-12 col-centered">
        <img class="img-portfolio img-responsive" src="img/Slack-logo.png" width="20%">
    </div>

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>Slack : la plateforme du challenge</h1>
        </div>
    </aside>

    <section class="success" id="about">
        <div class="container">



            <div class="center-block col-lg-6">
                <p>Une fois inscris sur le site, un mail de confirmation te sera envoyé pour rejoindre la
                plateforme du challenge. Clique sur le lien et tu pourras rencontrer tes futurs coéquipiers, former une équipe et débattre sur les sujets proposés.</p>
            </div>

            <div class="center-block col-lg-6">
                <p>Slack est comme une plateforme de chat normale mais elle contient beaucoup de fonctionnalités qui t'aideront à être plus efficace dans ton travail et ta communication.
                Une fiche est disponible et présente comme utiliser Slack pour le challenge.</p>
            </div>


                <div class="col-lg-12 center-block text-center">
                    <a href="/img/Slack_Champion_Training-Challenge_Industrie_du Futur.pptx" download class="btn btn-lg btn-outline" style="color:#f53737">
                        <i class="fa fa-download"></i> Télécharger le FAQ Slack
                    </a>
                </div>

                <div class="col-lg-12 center-block text-center">
                    <a href="https://challenge-aif.slack.com" class="btn btn-lg btn-outline" style="color:#f53737">
                        <i class="glyphicon glyphicon-plane" style="color:#f53737"></i>  Rejoindre le Slack
                    </a>
                </div>

        </div>
    </section>



{% endblock %}