{% extends "base.html" %}

{% block header %} {% include 'header_contenu.html' %} {% endblock %}

{% block content %}

    <!-- About -->
    <aside class="futur">
        <div class="text-center" id="content">
            <h1>Repartition</h1>
        </div>
    </aside>

    {% if results %}
    <section class="success" id="repartition">
        Theme repartition<br>
        score = {{ score }}<br>
        team_association = {{ team_association }}
        <div class="container">
            {% for theme in results %}
                <p> {{ theme }} </p>
                <p> {{ results[theme] }} </p>
            {% endfor %}
        </div>


    </section>
    {% endif %}



{% endblock %}