{% extends "base.html" %}

{% block header %} {% include 'header_team.html' %} {% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-warning text-center" role="alert">{{error}}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success text-center" role="alert">{{success}}</div>
    {% endif %}


    <!-- Container (Portfolio Section) -->
    <div id="join_team" class="center-block container-fluid text-center bg-grey">
      <h2></h2><br>
      <h3>Ton équipe</h3>
        <div class="col-lg-6 center-block text-center">
              <div class="thumbnail">
                <img src="{{ team.image_url }}" alt="team_logo" width="400" height="300">
                <p><strong>{{ team.name }}</strong> de {{ team.creator }}</p>
                <p>{{ team.description }}</p>
                <p>Membres :
                {% for member in team.members %}
                    {{ member }}
                {% endfor %}
                </p>
                <p>Candidats : <br>
                {% for member in team.pending_members %}
                    {{ member }}
                    <form action="" method="post">
                      <button name="team" class="btn btn-info" value="{{ member }}" role="button">
                      Accepter dans l'équipe</button>
                    </form>
                {% endfor %}
                </p>
            </div>
          </div>

        <div class="col-lg-6 center-block text-center">
            <h5> Changer la description de l'équipe </h5>
            <form role="form" action="{{url_for('website_industrie_futur.update_team')}}" method="post" enctype="multipart/form-data">
                <span class="form-group center-block ">

                    <div class="row center-block">
                      <textarea class="form-control text-center" rows="2" id="description" name="description"></textarea>
                    </div>

                    <div class="row">
                      <input type="submit" class="center-block btn btn-primary"></button>
                    </div>

                </span>
            </form>

            <form action="{{url_for('website_industrie_futur.delete_team')}}" method="POST">
                <button name="team" class="btn btn-primary" value="{{ member }}" role="button">
                Supprimer l'équipe</button>
            </form>

        </div>
    </div><br>


{% endblock %}